* {
    box-sizing: border-box;
}

body {
    background: url(Images/background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;;
}

header {
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    width: 400px;
    color: white;
    text-align: center;
}

.progress {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    color: white;
    font-size: 0;
    text-align: center;
}

.top {
    display: inline-block;
    width: 50%;
    font-size: 12pt;
}

form {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
}

fieldset {
    border-radius: 5px;
    color: white;
}

h2 {
    font-size: 15pt;
}

button {
    margin-top: 30px;
    float: right;
    height: 35px;
    border-radius: 5px;
}

#ans-1, #ans-2, #ans-3, #ans-4 {
    margin-top: 20px;
}

.hidden > * {
    display: none;
}

.end-quiz {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    color: white;
    text-align: center;
}