@font-face {
    font-family: starWars;
    src: url(Starjedi.ttf);
}

* {
    box-sizing: border-box;
}

body {
    background: url(Images/background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;;
}

header {
    font-family: starWars;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    width: 100%;
    color: white;
    text-align: center;
    font-size: 20pt;
}

form, .end-quiz {
    font-family: 'Chivo', sans-serif;
}

.progress {
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    color: white;
    font-size: 0;
    text-align: center;
}

.top {
    display: inline-block;
    width: 40%;
    font-size: 14pt;
}

form {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
}

fieldset {
    border-radius: 5px;
    color: white;
    background: rgba(0,0,0,0.75);
}

button {
    margin-top: 30px;
    float: right;
    height: 35px;
    border-radius: 5px;
}

#ans-1, #ans-2, #ans-3, #ans-4 {
    margin-top: 20px;
}

.hidden > * {
    display: none;
}

.end-quiz {
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    color: white;
    text-align: center;
}

.end-score-container {
    font-size: 20pt;
}

label, .question-feedback, .question-text {
    font-size: 14pt;
}

@media screen and (max-width: 600px) {
    form {
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }

    .progress {
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        color: white;
        font-size: 0;
        text-align: center;
    }

    .end-quiz {
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        color: white;
        text-align: center;
    }    

    header {
        font-family: starWars;
        margin-left: auto;
        margin-right: auto;
        padding-top: 100px;
        width: 100%;
        color: white;
        text-align: center;
        font-size: 12pt;
    }    

    label, .question-feedback, .question-text {
        font-size: 12pt;
    }
}